.log-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.logs-background {
    width: 850px;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    backdrop-filter: blur(10px);
    filter: blur(4px);
    align-content: end;
    padding: 20px;
    position:absolute;
    z-index: -1;
}

.logs {
    width: 830px;
    height: 660px;
    align-content: end;
    padding: 10px 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    /*-webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);*/
    mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);

}